#section-title{
  display:flex;
  position: relative;
  height: 15vh;
  width: 80vw;
  left: 10vw;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #1473E6;
}

#section-grid{
  position: relative;
  width: 100%;
  min-height: 20vh;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  text-align: center;
}


#section-card-product{
  float: left;
  position:relative;
  width: 100%;
  height: 100%;

}

#section-card-product-title{
  display: flex;
  position:relative;
  width: 100%;
  height: 15%;

  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

#section-card-product-image{
  display: flex;
  position: relative;
  width: 100%;
  height: 85%;

  justify-content: center;
  align-items: center;
}

#image{
  position: relative;
  height: 98%;
}

#image:hover{
  cursor: pointer;
  height: 100%;
}

#section-card-detail{
  box-sizing: border-box;
  float: left;
  position:relative;
  width: 45%;
  height: 100%;
  align-items: center;
  text-align: left;
}

.listItem{
  position: relative;
  font-size: 1vw;
  height: 16.666666666666666666666666666667%;
  padding:0.3vw;
}

#section-paginator{
  position: relative;
  width: 100%;
  min-height: 5vh;
  padding-bottom:2vh;

}

#paginator{
  display:flex;
  position: relative;
  height: 10vh;
  width: 80%;
  left: 10%;
  justify-content: center;
  align-items: center;
}
