/* You can add global styles to this file, and also import other style files */


*{
  margin:0;
  padding:0;
}
html, body { height: 100vh;  width: 100vw; background:#E5E5E5; font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; padding:0; overflow-x:hidden;}




