
<div id="header">

  <div id="logoSection">
    <div id="logoBtnContainer" routerLink="/user">
      <div id="logoContainer">
        <mat-icon id="logoHeader" aria-hidden="false" aria-label="Example home icon">storefront</mat-icon>
      </div>
      <div id="logoTitleContainer">
        <div id="logoTitle">CriptoMarket</div>
      </div>
    </div>
  </div>

  <div id="inputsSection">
    <div id="inputSection1">
      <button id="post-btn" (click)="this.postAd()">publicar producto</button>
    </div>
    <div id="inputSection2">
      <div id="searchBarContainer">
        <input type="text" id="searchBar" #bar>
        <button id="searchBtn" (click)="this.searchProduct(bar.value)"><mat-icon id="searchBtnIcon" aria-hidden="false" aria-label="Example home icon" class="">search</mat-icon></button>
      </div>
      <div id="wishListContainer">
        <mat-icon id="wishIcon" routerLink="/user/wishlist" matBadge="0"  matBadgeColor="warn" aria-hidden="false" aria-label="Example home icon" class="" >favorite_border</mat-icon>
      </div>
    </div>
    <div id="inputSection3">
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user" routerLinkActive="isActive">Inicio</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/tecnologia" routerLinkActive="isActive" >Tecnologia</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory"  routerLink="/user/category/arte-artesania" routerLinkActive="isActive">Arte</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory"  routerLink="/user/category/hogar" routerLinkActive="isActive">Hogar</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/automotriz" routerLinkActive="isActive">Automotriz</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/salud-belleza" routerLinkActive="isActive">Salud</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/deportes" routerLinkActive="isActive">Deportes</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/jugueteria" routerLinkActive="isActive">Juguetes</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/mascotas" routerLinkActive="isActive">Mascotas</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/user/category/ropa" routerLinkActive="isActive">Ropa</button></div>
    </div>
  </div>

  <div id="userSection">
    <div id="userContainer">
      <div id="userBtnContainer">
          <mat-icon id="userIcon" aria-hidden="false" aria-label="Example home icon" class="" (click)="this.logout()">logout</mat-icon>
      </div>
      <div id="userTitleContainer">
         Salir
      </div>

    </div>
  </div>
</div>

