
<div id="header">
  <div id="logoSection">
    <div id="logoBtnContainer" routerLink="/user">
      <div id="logoContainer">
        <mat-icon id="logoHeader" aria-hidden="false" aria-label="Example home icon">storefront</mat-icon>
      </div>
      <div id="logoTitleContainer">
        <div id="logoTitle">LogoMarket</div>
      </div>
    </div>
  </div>

  <div id="inputsSection">
    <div id="inputSection1"></div>
    <div id="inputSection2">
      <div id="searchBarContainer">
        <input type="text" id="searchBar">
        <button id="searchBtn"><mat-icon id="searchBtnIcon" aria-hidden="false" aria-label="Example home icon" class="">search</mat-icon></button>
      </div>
    </div>
    <div id="inputSection3"></div>
  </div>

  <div id="userSection">
    <div id="userContainer">
      <div id="userBtnContainer">
          <mat-icon id="userIcon" aria-hidden="false" aria-label="Example home icon" class="" (click)="this.logout()">logout</mat-icon>
      </div>
      <div id="userTitleContainer">
         Salir
      </div>

    </div>
  </div>
</div>

