
<div id="header">
  <div id="logoSection">
    <div id="logoBtnContainer" routerLink="/">
      <div id="logoContainer">
        <mat-icon id="logoHeader" aria-hidden="false" aria-label="Example home icon">storefront</mat-icon>
      </div>
      <div id="logoTitleContainer">
        <div id="logoTitle">CriptoMarket</div>
      </div>
    </div>
  </div>

  <div id="inputsSection">
    <div id="inputSection1"></div>
    <div id="inputSection2">
      <div id="searchBarContainer">
        <input type="text" id="searchBar" #bar>
        <button id="searchBtn" (click)="this.searchProduct(bar.value)"><mat-icon id="searchBtnIcon" aria-hidden="false" aria-label="Example home icon" class="">search</mat-icon></button>
      </div>
    </div>
    <div id="inputSection3">
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="home" routerLinkActive="isActive">Inicio</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/tecnology" routerLinkActive="isActive" >Tecnologia</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory"  routerLink="/category/house" routerLinkActive="isActive">Hogar</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory"  routerLink="/category/cloth" routerLinkActive="isActive">Ropa</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory"  routerLink="/category/art" routerLinkActive="isActive">Arte</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/sport" routerLinkActive="isActive">Deportes</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/health" routerLinkActive="isActive">Salud</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/transport" routerLinkActive="isActive">Automotriz</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/toys" routerLinkActive="isActive">Juguetes</button></div>
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="/category/pets" routerLinkActive="isActive">Mascotas</button></div>
    </div>
  </div>

  <div id="userSection">
    <div id="userContainer">
      <div id="userBtnContainer">
          <mat-icon id="userIcon" routerLink="sesion" aria-hidden="false" aria-label="Example home icon" class="">account_circle</mat-icon>
      </div>
      <div id="userTitleContainer">
         Hola! Identificate
      </div>

    </div>
  </div>
</div>

