
<div id="header">
  <div id="logoSection">
    <div id="logoBtnContainer" routerLink="/">
      <div id="logoContainer">
        <mat-icon id="logo" aria-hidden="false" aria-label="Example home icon">storefront</mat-icon>
      </div>
      <div id="logoTitleContainer">
        <div id="logoTitle">LogoMarket</div>
      </div>
    </div>
  </div>

  <div id="inputsSection">

  </div>

  <div id="userSection">
    <div id="userContainer">
      <div id="userBtnContainer">
          <mat-icon id="logo" routerLink="sesion" aria-hidden="false" aria-label="Example home icon" class="">account_circle</mat-icon>
      </div>
      <div id="userTitleContainer">
         Hola! Identificate
      </div>

    </div>
  </div>
</div>

