
<div id="header">
  <div id="logoSection">
    <div id="logoBtnContainer" routerLink="/">
      <div id="logoContainer">
        <mat-icon id="logoHeader" aria-hidden="false" aria-label="Example home icon">storefront</mat-icon>
      </div>
      <div id="logoTitleContainer">
        <div id="logoTitle">CriptoMarket</div>
      </div>
    </div>
  </div>

  <div id="inputsSection">
    <div id="inputSection1"></div>
    <div id="inputSection2">
      <div id="searchBarContainer">
        <input type="text" id="searchBar" #bar>
        <button id="searchBtn" (click)="this.searchProduct(bar.value)"><mat-icon id="searchBtnIcon" aria-hidden="false" aria-label="Example home icon" class="">search</mat-icon></button>
      </div>
    </div>
    <div id="inputSection3">
      <div class="categoryBtnContainer"><button class="btnCategory" routerLink="home" routerLinkActive="isActive">Inicio</button></div>
      <div class="categoryBtnContainer" *ngFor="let categorie of categories"><button class="btnCategory" routerLink="/category/{{categorie.Name}}" routerLinkActive="isActive" >{{ categorie.Name }}</button></div>

      <div *ngIf="viewSelectCategories">
        <select class="selectMenu">
          <option  value="0" selected>Ver todas las categorias</option>
          <option *ngFor="let item of selectCategories" value="{{item.Id}}">{{item.Name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div id="userSection">
    <div id="userContainer">
      <div id="userBtnContainer">
          <mat-icon id="userIcon" routerLink="sesion" aria-hidden="false" aria-label="Example home icon" class="">account_circle</mat-icon>
      </div>
      <div id="userTitleContainer">
         Hola! Identificate
      </div>

    </div>
  </div>
</div>

