.contFormPublish{
    width: auto;
    height: 85vh;
    /* background-color: red; */
    padding: 1.7rem;
    /* align-items: center; */
    /* margin-right: auto; */
    /* margin-left: auto; */
}

.dataProduct{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    float: left;
    padding: 1rem;
    

}

.dataUser{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: white;
    float: left;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 1rem;

}

.input{
    
}