.contFormPublish{
    width: auto;
    height: 85vh;
    /* background-color: red; */
    padding: 1.7rem;
    /* align-items: center; */
    /* margin-right: auto; */
    /* margin-left: auto; */
}

.dataProduct{
    position: relative;
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    float: left;
    padding: 1rem;
    

}

.dataUser{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: white;
    float: left;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    
}

.input{
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    border: 0;
    background-color: #E5E5E5;
    /* border-style: none; */
    /* border-width: 0; */
    /* border-bottom: black 2px solid; */
}


.boxButtom{
    width: 100%;
    height: auto;
    text-align: right;
}

.buttom{
    width: 50%;
    padding: 0.4em;
    border-radius: 5px;
    border-style: none;
    /* text-align: center; */
    /* margin-right: auto; */
}

.box{
    position: relative;
    width: 55%;
    height: 100%;
    /* height: auto; */
    background-color: #E5E5E5;
    border-radius: 10px;
    float: left;
    /* z-index: 1000; */
    padding: 1rem;
}

.boxImg{
    position: relative;
    width: 40%;
    height: 100%;
    margin-left: 0.8rem;
    background-color: #E5E5E5;
    float: left;
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.8rem;

}

.inputPost{
    width: 90%;
    margin-bottom: 1rem;
    /* border-radius: 5px; */
    border: 0;
}

.textBox{
    margin-bottom: 0.9rem;
}

.select{
    color: rgba(0, 0, 0, 0.7);
}

.textState{
    margin-bottom: 2px;
}

.boxRadio{
    margin-bottom: 5px;
}

.btnBox{
    width: 30%;
    border: 0;
    background-color:rgb(255, 165, 30);
    border-radius: 5px;
    padding: 3px;
}

.optionRadio{
    float: left;
    margin-right: 1rem;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
}

.inputPost{
    border: black 1px solid;
}

.inputImg{
    margin-top: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.btnSubmit{
    position: relative;
    width: auto;
    margin-top: 1rem;
    text-align: right;
    /* background-color: red; */
    /* text-align: left; */
}

.btnBox{
    position: relative;
    text-align: center;
    /* display: inline-flex; */
    margin-left: 0;
    margin-right: 0;
    /* left: 80%; */
    /* margin-right: auto; */
}

.textBox{
    margin-bottom: 1.8rem;
}
.price{
    margin-top: 0.5rem;
}

.boxImgView{
    /* position: ; */
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-image: url('/assets/imgs/uploadImg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    
}

.imgBoxx{
    width: 100%;
    height: 100%;
}

.deleteImg{
    margin: 0;
    margin-left: 1rem;
    padding: 3px;
    border: 0;
    border: black 1px solid;
    /* align-item: right; */
    /* margin-right: auto; */
}