
<div style="position: relative; width: 100vw; height: 10vh; background: crimson;  ">
  <button><a routerLink="marco1">Marco1</a></button>
  <button><a routerLink="marco2">Marco2</a></button>
  <button><a href=""></a>Luis</button>
  <button><a routerLink="brando">Brando</a></button>
  <button><a href=""></a>Dayriela</button>
  <button><a href=""></a>Daniel</button>
</div>

<div style="position: relative; width: 100vw; height: 80vh; background: lightblue;  ">
  <router-outlet></router-outlet>
</div>


<div style="position: relative; width: 100vw; height: 10vh; background: black;  ">

</div>
