<div id="section-product-detail">
  <div id="section-image">
    <img  id="image" src="{{ this.product.Image }}" alt="">
  </div>
  <div id="section-details">
    <div id="section-description">
      <div id="section-product-title">
        <div id="title"><b>{{ this.product.Name }}</b></div>
        <div id="wish">
          <mat-icon id="favIcon" aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
        </div>
      </div>
      <div id="section-product-description">
        <div id="description">{{ this.product.Description }}</div>
      </div>
      <div id="section-product-cost">
        <div id="cost">L.{{ this.product.Cost }}</div>
      </div>
    </div>
    <div id="section-seller">
      <div id="comment-section">
        <div id="comment">
          <mat-icon id="comIcon" aria-hidden="false" aria-label="Example home icon" (click)="openCommentsDialog()">comment</mat-icon>
        </div>
      </div>
      <div id="section-seller-title">
        <div id="sellerTitle">Vendedor:</div>
      </div>
      <div id="section-seller-detail">
        <div id="section-seller-logo">
          <mat-icon id="sellerIcon" aria-hidden="false" aria-label="Example home icon">account_circler</mat-icon>
        </div>
        <div id="section-seller-info">
          <div id="section-name">
            <div id="sellerName" *ngIf="this.isUser" ><b>{{ this.product.Firts_Name }} {{ this.product.Last_Name }}</b></div>
            <div id="sellerName" *ngIf="!this.isUser" >Nombre del vendedor</div>

          </div>
          <div id="section-calification">
            <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
            <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
            <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
            <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon">star_border</mat-icon>
            <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon">star_border</mat-icon>
          </div>
        </div>
      </div>
      <div id="section-seller-contact">
        <div *ngIf="this.isUser"  id="address">Contacto: {{ this.product.Email }}</div>
        <div *ngIf="!this.isUser"  id="address">Inicie sesion para ver los datos del vendedor</div>
      </div>
    </div>
  </div>
</div>
<div id="section-product-comments">
  <div id="section-comment">

    <h4 class="textComment">Comentarios</h4>
    <button type="button" class="buttonAddComment" (click)="viewAddNewComment()" > <i class="fas fa-plus"></i> Agregar comentario</button>
    
    <!-- <p>Nuevo Comentario: </p> -->
    <div [ngStyle]="{'display':addComment}" class="addNewComment">
      
      <div class="contUserImgProfile">
        <img [src]="imgUser" alt="Imagen perfil">
      </div>

      <textarea class="textAreaComment" name="descripcion" rows="3"  [(ngModel)]="myComment" placeholder="Escribir comentario"></textarea>
      <button class="btnNewComment" type="button" (click) = "addNewComment()">Comentar</button>
    </div>
    
    <!-- estructura comment -->
    <div class="sectionComments" *ngFor="let coment of commentsProducto">
      <div class="contUserImgProfile">
        <img [src]="imgUser" alt="Imagen perfil">
      </div>

      <p class="nameUser">{{coment.Firts_Name}}  {{coment.Last_Name}}</p>
      <p class="dateComment"><b>Fecha comentario:</b> {{coment.Date_Comment}}</p>

      <div class="contComment">
        <p class="commentUser">{{coment.Comment}}</p>
      </div>

    </div>

    <p class="commentsWarning" *ngIf="commentsProducto.length <1">**Comentarios no disponibles en el anuncio**</p>

  </div>

</div>
