
<div class="contTarjet" (click)="this.productDetail()">
    <div class="imgProducto">
        <img src="{{ Image }}" alt="">
    </div>
    <div class="contDatos">
        <div class="contRow">
            <p class="nombreProducto">{{ Name }}</p>
            <!-- <i class="far fa-heart"></i> -->
            <!-- <i class="fas fa-heart" ></i> -->
        </div>
        <p class="descripcionProducto">{{ Description }}</p>
        <p class="fecha"><b>Publicado: </b> {{dateClear}}</p>
        <p class="precioProducto">L. {{costClear}}</p>
    </div>
</div>

