<div id="add-comment-container">
  <div id="section-content">
    <div id="section-image">
      <mat-icon id="userIcon" aria-hidden="false" aria-label="Example home icon">account_circler</mat-icon>
    </div>
    <div id="section-input">
      <textarea placeholder="Ingrese un comentario" id="input" ></textarea>
    </div>
    <div id="section-star">
      <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon" >star_border</mat-icon>
      <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon" >star_border</mat-icon>
      <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon" >star_border</mat-icon>
      <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon" >star_border</mat-icon>
      <mat-icon class="starIcon" aria-hidden="false" aria-label="Example home icon" >star_border</mat-icon>
    </div>
  </div>
  <div id="section-action">
    <div id="section-btn">
      <button mat-button id="btn">Enviar</button>
    </div>
  </div>
</div>
