<!-- <h1>HH</h1> -->
<div class="contCard img">
    <div class="contSombra">
        <p class="text nameCategory">Deportes</p>
        <p class="text view" (click) = "ver()">Ver Productos</p>
    </div>

</div>

<div class="contCard img2">
    <div class="contSombra">
        <p class="text nameCategory">Hogar</p>
        <p class="text view" (click) = "ver()">Ver Productos</p>
    </div>

</div>

<div class="contCard img3">
    <div class="contSombra">
        <p class="text nameCategory">Tecnologia</p>
        <p class="text view" (click) = "ver()">Ver Productos</p>
    </div>

</div>
