<h1 mat-dialog-title>Terminos y condiciones para registrarse en Cripto Market</h1>
<mat-dialog-content class="mat-typography">
<h3><b>REGISTRO/COMPRA</b></h3>

<p>En nuestro sitio web le pedimos opcionalmente que se registre. Si Usted registra una cuenta, está de acuerdo
  con proporcionarnos la información completa y correcta de registro y/o de compra. Usted crea una cuenta sólo
  para su uso personal. No se permite:
</p>

<ul>
  <li>que cualquier otra persona utilice su cuenta en su nombre</li>
  <li>que múltiples usuarios utilicen una sola cuenta. Usted es responsable de prevenir el uso no autorizado.</li>
</ul>

<p>
  Cripto Market reserva el derecho a aceptar o rechazar su registro, o eliminar su cuenta por cualquier motivo que se considere apropiado.
</p>

<h3><b>ERRORES, CORRECCIONES Y CAMBIOS</b></h3>

<p>
  No garantizamos que el Sitio esté libre de errores, libre de virus u otros componentes dañinos, o que los defectos se eliminaren. No garantizamos que la información disponible en el Sitio sea correcta,
  precisa, o confiable. Podemos cambiar las características, la funcionalidad o el contenido del Sitio en
  cualquier momento. Nos reservamos el derecho de edición o eliminación de cualquier documento, información
  u otro contenido.
</p>


<h3><b>CONTENIDOS DE TERCEROS</b></h3>

<p>
  Los contenidos de terceros pueden aparecer en el Sitio o pueden ser accesibles por los vínculos en el Sitio.
  No somos responsables de cualquier error, difamación, omisión, falsedad, obscenidad, pornografía o blasfemia
  en las declaraciones, opiniones y representaciones o en cualquier otro tipo de contenido disponible en el Sitio.
  Tenga en cuenta, por favor, que la información y las opiniones en el contenido de terceros representan solamente
  los pensamientos del autor y no necesariamente reflejan nuestra creencia.

</p>


<h3><b>ACTIVIDAD ILEGAL</b></h3>

<p>
  Nos reservamos el derecho de investigar las quejas o informes sobre violaciones del presente Acuerdo y tomar
  las medidas que consideremos apropiadas, incluyendo, pero no limitado a enviar la información sobre cualquier
  actividad ilegal o sospechosa a los funcionarios encargados de hacer cumplir la ley, los reguladores,
  u otros terceros y revelar a dichas personas o entidades cualquier información necesaria relacionada con su
  perfil, dirección de correo electrónico, historia de uso, materiales publicados, direcciones IP, etc.
</p>


<h3><b>LIMITACIÓN DE RESPONSABILIDAD</b></h3>

<p>
  Nosotros y nuestros Afiliados no somos responsables de ninguna pérdida, lesión, demanda o daño de cualquier
  tipo resultante de:
</p>

<ul>
  <li>todo tipo de errores u omisiones en el Sitio o cualquiera de los servicios o productos que se pueden obtener en el Sitio</li>
  <li>la falta de disponibilidad o interrupción del Sitio o de cualquier funcionalidad del Sitio</li>
  <li>su uso del Sitio</li>
  <li>el contenido del Sitio o
    cualquier retraso o fallo del rendimiento fuera de nuestro control.</li>
</ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Listo</button>
</mat-dialog-actions>
