.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.container-timePost{
  width: auto;
  margin: 0;
  /* background-color: red; */
  position: relative;
}
.container-timePost select{
  margin: 0;
  font-size: 15px;
  width: 26%;
  margin-left: 72.5%;
}