<form id="form-register" [formGroup]="registerForm" >
  <div id="section-title">
    <div class="title"><b>Registrate</b></div>
    <div class="subtitle">Es rápido y fácil</div>
  </div>
  <div id="section-body">
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Nombre</div></div>
      <div class="section-input-text"><input type="text" class="input-text" formControlName="firts_Name"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Apellido</div></div>
      <div class="section-input-text"><input type="text" class="input-text" formControlName="last_Name"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Direccion</div></div>
      <div class="section-input-text"><input type="text" class="input-text" formControlName="address"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Telefono</div></div>
      <div class="section-input-text"><input type="text" class="input-text" formControlName="phone"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Correo</div></div>
      <div class="section-input-text"><input type="text" class="input-text" formControlName="email"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Contraseña</div></div>
      <div class="section-input-text"><input type="password" class="input-text" formControlName="password"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Confirme contraseña</div></div>
      <div class="section-input-text"><input type="password" class="input-text" formControlName="passwordConfirm"></div>
    </div>
    <div class="section-input">
      <div class="section-input-title"><div class="input-title">Aceptar terminos y condiciones</div></div>
      <div class="section-input-text">
        <div class="section-input-checkbox">
          <input type="checkbox" class="input-checkbox" formControlName="terms">
        </div>
        <div class="section-input-button-contract">
          <button class="button-contract" type="button" (click)="openTermsDialog()">Mostrar terminos y condiciones</button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-submit">
    <div class="section-error">

      <div *ngIf="this.registerForm.get('first_Name')?.getError('required') == true">Debes ingresar tu nombre</div>
      <div *ngIf="this.registerForm.get('last_Name')?.getError('required') == true">Debes ingresar tu apellido</div>
      <div *ngIf="this.registerForm.get('address')?.getError('required') == true">Debes ingresar tu direccion</div>
      <div *ngIf="this.registerForm.get('phone')?.getError('required') == true">Debes ingresar tu numero de telefono</div>
      <div *ngIf="this.registerForm.get('email')?.getError('required') == true">Debes ingresar un correo electronico</div>
      <div *ngIf="this.registerForm.get('email')?.getError('email') == true">Debes ingresar un correo electronico valido (Ejemplo: correo@correo.com)</div>
      <div *ngIf="this.registerForm.get('password')?.getError('required') == true">Debes ingresar una Contraseña</div>
      <div *ngIf="this.registerForm.get('password')?.value.length < 8">la Contraseña debe tener al menos 8</div>
      <div *ngIf="this.registerForm.get('password')?.status == 'INVALID'">La Contraseña debe tener al menos 1 digito, 1 letra mayuscula, 1 letra minuscula y 1 caracter especial</div>
      <div *ngIf="this.registerForm.hasError('notSame')">Confirmacion de contraseña invalida</div>
      <div *ngIf="this.registerForm.get('terms')?.getError('required') == true">Debes Aceptar los terminos y condiciones</div>
    </div>
    <button class="btnSubmit" type="submit"  #btn  (click)="this.registerUser(); btn.style.display = 'none'" *ngIf="this.registerForm.status == 'VALID';disabled" ><b>Registrarme</b></button>
  </div>
</form>
