<div id="section-nav-filter">
  <div id="section-order-filter">
    
    <select class="optionFilter" (change) = 'optionSelect($event)'>
      <option value="0" selected>Ordenar por</option>
      <option value="1">Fecha</option>
      <option value="2">Mayor precio</option>
      <option value="3">Menor precio</option>
    </select>
    <button class="btnSubscribe" (click)="userSubscribeCategory()" *ngIf="userSubscribe == false && this.isUser">Suscribirse a la categoria</button>
    <button class="btnSubscribe btnSubTrue" (click)="closeOpenDialog()" *ngIf="userSubscribe && this.isUser"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
    </svg> Suscrito a la categoria</button>
  <div id="section-filter-title">
    <div id="title">Filtrar productos</div>
  </div>
  </div>
</div>

<div id="section-side-filter">
  <label id="department-radio-label">Por departamento:</label>
  <mat-radio-group (change)="getProductsByDepartmentAndCategory(this.selectedDepartment)"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selectedDepartment">
    <mat-radio-button class="department-radio-button" *ngFor="let department of departments" [value]="department.Url">
      {{department.Url}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div id="section-body-filter">
  <app-product-shelf-default  *ngIf="!this.isUser"  [products]="this.products"></app-product-shelf-default>
  <app-product-shelf *ngIf="this.isUser"  [products]="this.products"></app-product-shelf>
</div>

<div class="containerBoxSubscription" *ngIf="openDialog">
  <div class="containerDialog">
    <p class="textDialog"><b>¿Desea eliminar su suscripción?</b> Recuerde que dejara de recibir avisos personalizados de los mejores productos y anuncios.</p>
    <button class="btnDialog btnConfirm" (click)="deleteSubscription()">Confirmar</button>
    <button class="btnDialog " (click)= "closeOpenDialog()">Cancelar</button>
  </div>
</div>