<div id="section-nav-filter">
  <div id="section-order-filter">

  <select class="optionFilter" (change) = 'optionSelect($event)'>
    <option value="0" selected>Ordenar por</option>
    <option value="1">Fecha</option>
    <option value="2">Mayor precio</option>
    <option value="3">Menor precio</option>
  </select>

  </div>
</div>

<div id="section-side-filter">
</div>

<div id="section-body-filter">
  <app-product-shelf-default  *ngIf="!this.isUser"  [products]="this.products"></app-product-shelf-default>
  <app-product-shelf *ngIf="this.isUser"  [products]="this.products"></app-product-shelf>
</div>
