#section-nav-filter{
  position: relative;
  width: 100%;
  height: 10vh;
  margin-top:2vh;
}

#section-order-filter{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 80%;
  top:20%;
  border-bottom: solid dimgray 1px;
  border-top: solid dimgray 1px;
}

#section-filter-title{
  position: relative;
  width: 15%;
  height: 90%;
  top: 5%;
}

#title{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items:center;
  justify-content: center;
  font-size: 1.3vw;
}

#section-side-filter{
  position: relative;
  float: left;
  width: 15%;
  height: 75vh;
  margin-top: 2.5%;
}

#department-radio-label{
  display: flex;
  position:relative;
  align-items: center;
  width: 100%;
  height: 8%;
  font-size: 1.1vw;
  margin-left: 20%;
}

.department-radio-button{
  position: relative;
  width: 100%;
  height:5%;
  font-size: 1vw;
  margin-left: 25%;
}

#section-body-filter{
  position: relative;
  float: left;
  width: 85%;
  height: 90%;
}

.optionFilter{
  position: absolute;
  right: 0;
  margin-right: 3rem;
  margin-top: 2px;
  border-radius: 2px;
  font-size: 1rem;
  bottom: 0;
  padding: 0.2em 0.6em;
  margin-bottom: 5px;
  /* border: none; */
  /* margin-right: auto; */
}

.btnSubscribe{
  position: absolute;
  /* width: 13%; */
  margin-left: 20%;
  bottom: 0;
  margin-bottom: 2px;
  border: none;
  padding: 0.2em 0.8em;
  background-color: #fff;
  border-radius: 4px;
  border: rgb(219, 215, 215) 2px solid;
}

/* .btnSubscribe:hover{
  background-color: rgb(206, 203, 203);
  color: black;
} */

.btnSubTrue{
  color: rgb(170, 170, 170);
}

.containerBoxSubscription{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  bottom: 0;
}


.containerDialog{
  position: absolute;
  width: 30%;
  height: auto;
  background-color: white;
  margin-top: 10.6rem;
  margin-left: 20%;
  padding: 1rem;
  border-radius: 5px;

}

.btnDialog{
 padding: 0.3em 1em;
 margin-left: 5%;
 border: none;
 border: #c6c6c6 2px solid;
}

.btnConfirm{
  margin-left: 22%;
}